<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"  parallel="tests">
    <groups>
        <run>
            <include name="regression"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
        <listener class-name="listeners.MethodInterceptor"/>
        <listener class-name="listeners.AnnotationListener"/>
    </listeners>
    <test verbose="2" thread-count="2" preserve-order="true" name="D:/WebAutomation">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="hub" value="localhost"></parameter>
        <classes>
            <class name="tests.HomePageTests"></class>
        </classes>
    </test>
    <test verbose="2" thread-count="2" preserve-order="true" name="D:/WebAutomation1">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="hub" value="localhost"></parameter>
        <classes>
            <class name="tests.LoginTests"></class>
        </classes>
    </test>
</suite>